#Миграции БД
**/migrations/*


# Файлы созданныее IDE и OS
.DS_Store
**/.idea/*
**/dist/*
**/static/*
**/templates/*
**/node_modules/*

# Данные БД [будут тут)]
data/


# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
# front/node_modules/.cache/babel-loader/659c0029a5511f675d8fec512db8989c.json

.kube/